.tripOrder-container {
    border: 3px solid black;
}

.no-edit {
    background-color: red;
    padding: .7em;
    display: inline-block;
    border: 2px solid #febb02;
    margin: .5em;
}

.edit {
    background-color: aquamarine;
    padding: .7em;
    display: inline-block;
    border: 2px solid #febb02;
    margin: .5em;
}