
.form-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10vw;
}

.loginFormLabels {
    font-size: small;
    display: flex;
}

.loginFormInputs {
    width: 30vw;
    height: 3vw;
    margin-top: 1vw;
}


.submit {
    background-color: rgb(37, 167, 227);
    color: white;
    margin-top: 1vw;
    border: 0;
    width: 20vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 17%;    
}

.notReg {
    background-color: rgb(37, 167, 227);
    color: white;
    margin-top: 1vw;
    border: 0;
    width: 30vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1vw;
    margin-left: 35%;
}


#signInDiv {
    justify-content: center;
    width: 30vw;
    margin-left: 35%;
}